.footer {
    text-align: center;
    font-size: .85em;
    padding: 20px 0;
    font-weight: 500;
}

.footer p:nth-child(1){
    margin-bottom: 3px;
}

.footer a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

@media (min-width: 1200px) {
    .footer {
        font-size: .9em;
    }
}